einops==0.8.0
fbm==0.3.0
matplotlib==3.9.0
numpy==1.26.4
pandas==2.2.2
pynvml==11.5.3
scikit_learn==1.5.2
scipy==1.12.0
seaborn==0.13.2
sympy==1.12.1
torch
tqdm==4.66.2
tvm==1.0.0
tensorboard==2.16.2
IPython